<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Kurs work</title>
</head>

<body>

    <main>
        <section id="brainContainer">
            <div class="brainContainerItems">
                <h1>
                    <%=content %>
                </h1>
                <textarea name="textBox" id="textBox"></textarea>
                <button id="check" onclick="sendText()">Execute</button>
                <h2 id="answer"></h2>
            </div>
        </section>
        <section id="recomended">
            <div class="rec">
                <h2>Приклади</h2>
                <div class="recomendedBlock">
                    <div class="recomendedItem" onclick="toTextarea(this)">Радісна, гомінка і пахуча весна. Дзвінко
                        співають птахи, дзюркочуть попід деревами весняні струмочки. Смолою пахнуть набубнявілі
                        бруньки. Теплий вітер пробігає у верховітті.</div>
                    <div class="recomendedItem" onclick="toTextarea(this)">Скоро, скоро вдягнеться ліс у листя, зацвіте
                        на узліссях черемха, защебечуть над струмками дзвінкоголосі соловейки. Забігають на купинах
                        заклопотані мурашки, вилетить із зимового притулку, загуде перший джміль. Паростками трави,
                        голубими та білими пролісками вкриються лісові галявинки.</div>
                    <div class="recomendedItem" onclick="toTextarea(this)">- Привіт, Мишко, як справи?
                        - Привіт! Ти бачиш, Яночко, я по вуха у пригодах. Вчора їздили на велосипеді з другом до річки,
                        так назад пленталися пішки сім кілометрів, ще велосипеда на собі несли.
                        - І як, прийшли?
                        - Ха, краще сказати: «доповзли» або «дошкандибали».
                        - А чому ж ви добиралися пішки?
                        - А тому що біля річки хтось швендяв. Поки ми купалися, поцупив переднє колосо та й
                        учимчикував. Зробив нам сюприз!
                        - Слухай, Мишко, скільки слів цікавих є в мові з приводу твоєї ситуації!
                        - Оце тільки й втішає, що мова в нас багата. А от люди деякі зустрічаються, що заслуговують
                        лозини...</div>
                    <div class="recomendedItem" onclick="toTextarea(this)">Верблюд — великий жвачний ссавець ряду
                        парнокопитних. На відміну від інших жвачних верблюд має трьохкамерний шлунок. Має два пальці на
                        нозі з широкою м’якою підошвою, пристосованою для ходіння по піску, і копита, схожі на нігті.
                        Тварини тривалий час можуть обходитися без їжі, а якщо випаде нагода знайти в пустелі колючу
                        рослину (вона так і називається — верблюжа колючка), то легко її зжує, бо їхній рот нечутливий
                        до уколів і захищений від них. Верблюди довго можуть обходитися без води, зате коли натраплять,
                        то випивають за 10 хвилин до 130 літрів. Темного кольору очі здатні помітити людину, яка
                        рухається на відстані до 1 кілометру. Довга пухнаста вовна захищає тварину від перегрівання під
                        палючим сонцем пустелі.</div>
                    <div class="recomendedItem" onclick="toTextarea(this)">Неймовірна подія! У глухому селі Костилівка
                        Рахівського району Закарпатської області жителі виявили послання від позаземної цивілізації!
                        Вчені багатьох країн світу намагаються вийти на зв’язок з інопланетними істотами. Нарешті буде
                        зроблений перший крок до зближення міжгалактичних планет! Ми пишаємося, що ця подія відбулася
                        саме в нашій країні. Саме завдяки нашим вченим вперше вдасться налагодити позаземне
                        спілкування. Нові відкриття стабілізують економіку нашої країни та зміцнять її позиції на
                        світовому ринку.</div>
                    <div class="recomendedItem" onclick="toTextarea(this)">Стаття 1. Україна є суверенна і незалежна,
                        демократична, соціальна, правова держава.
                        Стаття 2. Суверенітет України поширюється на всю її територію.
                        Україна є унітарною державою.
                        Територія України в межах існуючого кордону є цілісною і недоторканною.
                        Стаття 3. Людина, її життя і здоров'я, честь і гідність, недоторканність і безпека визнаються в
                        Україні найвищою соціальною цінністю.
                        Права і свободи людини та їх гарантії визначають зміст і спрямованість діяльності держави.
                        Держава відповідає перед людиною за свою діяльність. Утвердження і забезпечення прав і свобод
                        людини є головним обов'язком держави.
                        Стаття 4. В Україні існує єдине громадянство. Підстави набуття і припинення громадянства
                        України визначаються законом.
                        Стаття 5. Україна є республікою.</div>
                </div>
            </div>
        </section>
    </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="./js/script.js"></script>

</html>