* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
}

#check,
.recomendedItem {
    cursor: pointer;
}

#brainContainer {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../images/bg.jpeg') no-repeat;
    background-size: cover;
}

.brainContainerItems {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.brainContainerItems h1,
.brainContainerItems h2 {
    margin: 3px 0;
    color: #fff;
    font-family: "Segoe UI";
    text-align: center;
}
.brainContainerItems h1 {
    font-size: 56pt;
}

#textBox,
#check {
    background: rgba(99, 99, 99, 0.3);
    border: 1px solid grey;
    margin: 3px 0;
    color: aliceblue;
    padding: 7px;
}

#textBox {
    font-family: 'Segoe UI';
    min-height: 300px;
    font-size: 18pt;
    resize: none;
    overflow: hidden;
}

#check {
    font-family: 'Segoe UI Light';
    font-size: 16pt;
}

.brainContainerItems h2 {
    visibility: hidden;
    font-size: 21pt;
}

#recomended {
    padding: 70px 0;
    justify-content: center;
}

.rec {
    width: 80%;
}

#recomended h2 {
    font-family: "Segoe UI";
    color: #000;
    font-size: 21pt;
    margin: 0 10px;
    position: relative;
}

#recomended h2:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #000;
  bottom: -4px;
  left: 0;
  width: 100%;
}

.recomendedBlock {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.recomendedItem {
    width: 20%;
    margin: 10px;
    border: #000 1px solid;
    color: #000;
    font-size: 14pt;
    font-family: "Segoe UI";
    text-align: justify;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .recomendedItem {
        width: 40%;
    }
}

@media screen and (max-width: 560px) {
    .recomendedItem {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}